---
---

@import "minima";

html {
  --light-background-color: hsl(0, 0%, 90%);
  --light-text-color: hsl(0, 0%, 20%);
  --light-link-color: rgb(0, 112, 201);

  --dark-background-color: hsl(0, 0%, 20%);
  --dark-text-color: hsl(0, 20%, 85%);
  --dark-link-color: rgb(100, 210, 255);
}

html, html[data-theme = "light"] {
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --link-color: var(--light-link-color);
}

html[data-theme = "dark"] {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --link-color: var(--dark-link-color);
}

@media (prefers-color-scheme: dark) {
  html, html[data-theme = "dark"] {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
  }

  html[data-theme = "light"] {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --link-color: var(--light-link-color);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
